body{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
}



/* Header Section */

.header, .footer, .panel1{
    background-color: #1f2937;
    color:#e5e7eb;
}

.header, .footer, .panel1, .panel2, .panel3, .call-to-action{
    padding-right: 14.5vw;
    padding-left: 14.5vw;
}

.header{
    display:flex;
    gap:15px;
    font-size:18px;
    height:10vh;
    padding-top: 2.5vh;
}

.logo{
    font-size:24px;
    color:#f9faf8;
    font-weight:700;
}

.link1{
    margin-left:auto;
}

/* Panel 1 Section */
.panel1{
    display:flex;
    justify-content: space-between;
    height:80vh;
    align-items:center;
    
}

.panel1 > *{
    flex:1 1 100%;
}

.image{
    display:flex;
    align-items:center;
    height:53.5%;
    justify-content: center;
    background-color: lightslategray;
    
}

.text1{
    height:53.5%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.text1 h1{ /*hero primary text */
    padding:0 auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
    align-self:flex-start;
    font-size:300%;
    color: #f9faf8;
    font-weight:700;
    flex:1;
    word-wrap: break-word;
}

.text1 p{
    font-size: 130%;
    color: #e5e7eb;
    flex:1;
    word-wrap: break-word;
    align-self: flex-start;
}

.signup{
    background-color: #3882f6;
    align-self:flex-start;
    flex-grow:1;
    color:white;
    text-decoration:none;
    font-weight:700;
    padding:5px 20px;
    border-radius:8px;
}
/********************/
/* PANEL 2 SECTION */
/******************/

.panel2{
    margin: 0 auto;
    padding:0 auto;
    display:flex;
    flex-direction: column;
    height:65vh;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap:10%;
    
}

.panel2 h2{
    margin: 5% auto 0;
    font-size:36px;
    font-weight: 1000;
}

.cards{
    margin:0 auto 10%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card p{
    margin:0 auto;
    width:50%;
    word-wrap: break-word;
    font-size:18px;
    font-weight: 600;
    color:grey;
    text-align: justify;
    text-align-last: center;
}

.square{
    border: 4px solid #3882f6;
    opacity: 90%;
    border-radius: 13px;
    height: 16.5vh;
    width: 50%;
}

/********************/
/* PANEL 3 SECTION */
/******************/

.panel3{
    background-color: #e5e7eb;
    height:40vh;
}